## Must Have

### General build outputs
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/
out/
publish/
*.cache
*.pdb
*.tmp
*.bak
*.swp
*.log

### OS
.DS_Store
Thumbs.db

### IDEs
# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.rsuser
*.sln.docstates
*.vsconfig

# Rider / JetBrains
.idea/
*.sln.iml
*.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

### .NET / ASP.NET Core
# Keep base appsettings.json in repo; ignore local/env-specific
appsettings.Development.json

# DP keys Api
docker/dpkeys/*.xml
docker/dpkeys/*.key
docker/dpkeys/


# Local DB files
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.mdf
*.ldf
*.dbmdl
*.bak

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp
project.lock.json
project.fragment.lock.json

### Test & Coverage
.sonarqube/
.scannerwork/
.stylecop/
BenchmarkDotNet.Artifacts/
.coverage
coverage/
coverage-*.json
*.coverage
*.coveragexml
TestResults/
nunit-*.xml
*.trx

### Azure Functions / local tooling
local.settings.json
.azure/


# Игнорировать все package-lock.json во всех проектах
# (за исключением тех где это разрешено)
**/package-lock.json

### Other common temps
*.orig
*.rej
*.patch
*.orig.*
*.tmp.*
~$*

#---For Future modification

### Docker / Devcontainer
docker-compose.*.override.yml
**/.docker/
**/.devcontainer/
**/.compose/
